<html>
<head>
         <style>
                    body{
                          display:flex;
                          justify-content:center;
                          align-items:center;
                    }#d{
                       height:330px;
                       width:340px;
                       box-shadow:0px 0px 5px black;
                     }#d2{
                        text-align: center;
                        height:200px;
                        width:200px;    
                        background-size:100% 100%;   
                        margin:30px 60px;
                     }input{
                           width:340px;
                           background-color:#1B9C85;
                           height:40px;
                           margin-bottom:80px; 
                           border:1px solid gray;
                           font-size:20px;
                           color:white;
                     }#d1{
                             color:#1B9C85;
                             font-size:23px;
                             text-align:center;  
                     }
         </style>
</head>
<body>
       <div id="d" name="d">
                  <form action="HOME.html">
                  <div id="d1" name="d1">Successfully Create your accounts</div>
                  <div id="d2" name="d2">
                        <h2>Congratulation<br/>Login Successfull</h2>
                  </div>
                  <input type="submit" value="Back">
                  </form>
      </div>
</body>
</html>